/build
/android/app/build
/ios/Pods
.DS_Store
/node_modules
.env
.vscode
.idea
*.apk
*.ipa
*.log
*.iml
*.keystore
/.gradle
/local.properties
/pubspec.lock
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/.dart_tool
/.fvm
/.metadata
/.cursor
/.flutter-versions
/.config
/.settings
/android/build
/android/.cxx
/android/.idea
/android/app/.cxx
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/App.framework
/ios/Runner.xcworkspace
/ios/Pods
/ios/.symlinks
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral      
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.* 
/ios/Runner/Runner-Bridging-Header.h

